body {
    font-family:  Helvetica, Verdana, sans-serif;
    background-color: #212121;
    color: white;
}

#stuff {
    width: 1405px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
}

.assignment {
    text-align: center;
    display: inline-flex;
    width: fit-content;
    background-color: grey;
    margin: 20px 10px;
    transition: .5s;
}
.assignment:hover {
    background-color: #a3a3a3;
    border-radius: 15px;
}


.header {
    text-align: center;
}

p, h1, h2 {
    padding-left: 10px;
}
p {
    font-size: 14pt;
    line-height: 1.5;
    padding-left: 10px;
    max-width: 300px;
    overflow-y: scroll;
}

img {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}